body{
    margin:0;
}

.TOP{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(header.jpg);
    height: 500px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items:center;

}
.name{
    text-align: center;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 24px;
    margin-top: -50px;
}


.heading {
    max-width: 780px;
    text-align: center;
    margin:0 auto;
    font-size: 36px;
    font-weight:normal;
    color: #fff;
    font-family: 'Roboto Slab', serif;
  }



.edit img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px solid white;
}
.edit{
    height: 100px;
}

p.update{
  margin-top: 0px;  
  margin-bottom: 0px;
  font-size: 18px;
  font-family: Source Sans Pro,sans-serif;
  color: rgb(51, 51, 51);
  line-height: 24px;
}

hr{
    margin-bottom: 60px;
    width:2px;
    background-color: #e6e6e6;
}
.content{
    width:66.70%;
    margin-left:11.9%;
    margin-right:16%;
}

p.description,.pic,.best,.place{
    margin-left:70px;
}

.pic{
    margin-bottom: 120px;
}
.place,.description,.best{
    margin-bottom: 20px;
}
.sub-heading{
    margin-left:40px;
    font-size: 36px;
    font-family: Roboto Slab,serif;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.abc{
    font-size: 36px;
    color: rgba(0, 0, 0, 0.25);
}

.description{
    line-height: 32px;
    font-size: 18px;
    color:rgb(51, 51, 51);
    width:964px;
    text-align: justify;:);
    font-family: 'Source Sans Pro',sans-serif;
}

.best{
    font-size: 18px;
    color:rgb(51, 51, 51);
    line-height: 32px;
    font-family: 'Source Sans Pro',sans-serif;
}

.place{
    font-size: 18px;
    color:rgb(51, 51, 51);
    line-height: 32px;
    letter-spacing: -1.5px;
    font-weight: bold;
}